body{
    background-color: rgba(53, 36, 82, 0.185);
}
#div_parent{
    margin: 5% 41%;
    background-color: white;
    border-radius: 20px ;
    padding:5px;
    border: 1px solid rgb(119, 109, 109);
}
img{
    margin: 10px;
    height: 10px;
}
#screen{
    width: 90%;
    margin: 10px;
    text-align: right;
    border: 0ch;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 2px;
    font-weight: bold;
    color:black;
}
input{
    font-size: 25px;
}

table{
    margin: 3px 6px;
}
td{
    padding:10px 11px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}
.td0{
    border-radius: 18px;
    background-color: rgb(59, 53, 53);
}
.td1{
    border-radius: 18px;
    background-color: black;
}
.td2{
    border-radius: 18px;
    background-color: rgb(226, 132, 9);
}
.input0{
    background-color: rgb(59, 53, 53);
    color: white;
    border: 0ch;
}
.input1{
    background-color: rgb(2, 2, 2);
    color: white;
    border: 0px ;
}
.input2{
    background-color: rgb(226, 132, 9);
    border: 0ch;
}
.input3{
    background-color: white;
    color: black;
    font-size: 20px;
    border: 0ch;
    margin-left: 10px;
}
P{
    text-align: right;
    font-weight: bold;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
}